.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevents scrolling */
}

.content {
    flex: 1; /* Takes up the remaining space above the navbar */
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    padding: 10px; /* Optional: Adds some padding */
    background-color: #f5f5f5; /* Light gray background */
}